# Java
/target/
/build/

# .NET / WinForms
bin/
obj/

# Visual Studio
.vs/

# Eclipse
workspace/
.metadata/

# Logs
*.log

# Temporales
*.cache
*.pdb
*.exe

# IDEs
.idea/
.vscode/
*.iml

# Sistema
.DS_Store