# Java
/target/
/build/

# .NET / WinForms
bin/
obj/

# Visual Studio
.vs/

# Eclipse
workspace/
.metadata/
.settings/
.project
.classpath

# IntelliJ
.idea/
*.iml

# Logs
*.log

# Temporales
*.cache
*.pdb
*.exe

# Sistema
.DS_Store